/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

/* pink: FFA0B2 */

$pink: #FFA0B2;
$light_pink: #FFCFD8;

@font-face {
  font-family: playball; // 自己命名
  src: local("Playball"),
  url(Playball-Regular.ttf);
}

.page {
  // whole page
  width: 100vw;
  height: 100vh;
  position: relative;
}

.welcome_page {
  // feat .page class
  overflow-x: hidden;
  overflow-y: hidden;
  background: linear-gradient(to top, $pink, $light_pink);
  .jack_png{
    position: absolute;
    // left: 27.4%;
    left:50%;
    transform: translate(-50%,0);
    top: -63px;
    width:600px;
  }
  .hanny_png{
    position: absolute;
    left:50%;
    transform: translate(-50%,0);
    top: -63px;
    width: 600px;
    // 圖片出不來？？幹 -> Pa教說要用absolute，問抽為什麼我們要用relative??
  }
  .welcome{
    position: absolute;
    // width: 450px;
    // width: auto; 預設是AUTO
    width: 100%;
    height: 80px;
    // left: 34.5%;
    // left: 50%;
    text-align: center;
    top: 480px;
    font-family: playball, Comic Sans MS;
    // 沒有Playball這個字體
    font-style: normal;
    font-weight: normal;
    font-size: 39px;
    // 為什麼超出40px 就會跳行？？？
    text-align: center;
    color: #FFFFFF;
  }
  .Jack_and_Hanny{
    position: absolute;
    width: 100%;
    height: 170px;
    top: 530px;
    font-family: playball, Comic Sans MS;
    // 沒有Playball這個字體
    font-style: normal;
    font-weight: normal;
    font-size: 73px;
    text-align: center;
    color: #FFFFFF;
  }
  .Wedding_word{
    position: absolute;
    width: 100%;
    height: 170px;
    top: 608px;
    font-family: playball, Comic Sans MS;
    // 沒有Playball這個字體
    font-style: normal;
    font-weight: normal;
    font-size: 39px;
    text-align: center;
    color: #FFFFFF;
  }
  .buttonset{
    position: absolute;
    width: 100%;
    top: 705px;
    text-align: center;
    // 這裡的top是對應誰的啊幹？為什麼不是對整個welcome_page？

    .button {
      display: inline-block;
      position: relative;
      // width: 125px;
      height: 18px;
      margin: 0 5.5%;

      img {
        height: 100%;
      }
    }

    // .button_ourstory{
    //   position: relative;
    //   width: 250px;
    //   height: 35px;
    //   left: 25%;
    // }
    // .button_ceremony{
    //   position: relative;
    //   width: 250px;
    //   height: 35px;
    //   left: 50%;
    // }
    // .button_banquet{
    //   position: relative;
    //   width: 250px;
    //   height: 35px;
    //   left: 75%;
    // }
  }
}

// .player_page {
//   // feat .page class
//   background: $pink;
//   .player_icon_png{
//     position: relative;
//     top:50%;
//     left:50%;
//     transform: translate(-50%, -50%);
//     // transform 是對div做微調。
//     width:300px;
//   }
//
// }

.timeline_page {
  // feat .page class
  background: $pink;
}

.huge_photo_page {
  // feat .page class
  position: relative;
  width: 100%;
  background:#FFA0B2;
  overflow-x: hidden;
  overflow-y: hidden;
  

  .handwriting_1{
    position: absolute;
    left: 6%;
    top: 6%;
    width: 50%;
  }

  .handwriting_2{
    position: absolute;
    left: 6%;
    top: 30%;
    width: 60%;
  }

  .huge_photo{
    position: relative;
    height: 150%;
    top: -280px;
    left: 30%;

  }
}

.location_page {
  // feat .page class
  position: relative;

  .ceremony {
    position: relative;
    width: 100%;
    height: 50%;
    background: $pink;

      .ceremony_title{
        position: relative;
        display: block;
        height: 38px;
        left: 8%;
        top: 18px;
      }
      .ceremony_info{
        position: relative;
        display: inline-block;
        width: 400px;
        left: 8%;
        top: 30px;
      }
      .ceremony_traffic{
        position: relative;
        display: inline-block;
        width: 400px;
        left: 30%;
        top:-50.53%;
      }
  }

    .banquet {
      position: relative;
      width: 100%;
      height: 50%;
      background: white;

      .banquet_title{
        position: relative;
        display: block;
        height: 38px;
        left: 8%;
        top: 26px;
      }
      .banquet_info{
        position: relative;
        display: inline-block;
        width: 400px;
        left: 8%;
        top: 44px;
      }
      .banquet_traffic{
        position: relative;
        display: inline-block;
        width: 400px;
        left: 30%;
        top:-30%;
    }
  }
}


.footer {
  position: relative;
  width: 100vw;
  // height: 300px;
  background: $pink;
  text-align: center;

  .countdown {
    position: relative;
    display: inline-block;
    color: white;

    .time_section {
      position: relative;
      display: inline-block;
      width: 15vw;
      height: 15vw;
      padding: 3vw;
      // background: red;
      text-align: center;

      .time_number {
        width: 100%;
        height: 60%;
        // border: 4px white solid;
        border-radius: 50%;
        font-size: 8vw;
        padding: 20% 0;

      }

      .title {
        font-size: 24px;
      }
    }
  }

  .social_buttonset{
    position: relative;
    width: 100%;
    margin-top: 93px;
    text-align: center;


    .button{
      display: inline-block;
      width: 30px;
      margin-left: 12px;

      .social_button{
        width: 100%;


      }
    }

  }

  .copyright{
    display: block;
    position: relative;
    height: 18px;
    left: 50%;
    transform: translate(-50% ,0);
    margin-top: 15px;
    padding-bottom: 20px;
  }
}
