/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

/* pink: FFA0B2 */

$pink: #FFA0B2;
$light_pink: #FFCFD8;

@font-face {
  font-family: playball; // 自己命名
  src: local("Playball"),
  url(Playball-Regular.ttf);
}

.page {
  // whole page
  width: 100vw;
  height: 100vh;
  position: relative;
}

.welcome_page {
  // feat .page class
  background: linear-gradient(to top, $pink, $light_pink);
  .jack_png{
    position: absolute;
    left: 27.4%;
    top: -63px;
    width:700px;
  }
  .hanny_png{
    position: absolute;
    left: 27.5%;
    top: -63px;
    width: 700px;
    // 圖片出不來？？幹 -> Pa教說要用absolute，問抽為什麼我們要用relative??
  }
  .welcome{
    position: absolute;
    width: 450px;
    height: 80px;
    left: 34.5%;
    top: 570px;
    font-family: playball, Comic Sans MS;
    // 沒有Playball這個字體
    font-style: normal;
    font-weight: normal;
    font-size: 46px;
    // 為什麼超出40px 就會跳行？？？
    text-align: center;
    color: #FFFFFF;
  }
  .weddingname{
    position: absolute;
    width: 618px;
    height: 170px;
    left: 411px;
    top: 625px;
    font-family: playball, Comic Sans MS;
    // 沒有Playball這個字體
    font-style: normal;
    font-weight: normal;
    font-size: 70px;
    line-height: 79px;
    text-align: center;
    color: #FFFFFF;
  }
  .button_ourstory{
    position: absolute;
    width: 250px;
    height: 35px;
    left: 280px;
    top: 800px;
    font-family: Comic Sans MS;
    // 沒有Noto Sans TC
    font-style: normal;
    font-weight: 500;
    font-size: 27px;
    text-align: center;
    color: #FFFFFF;
  }
  .button_ceremony{
    position: absolute;
    width: 250px;
    height: 35px;
    left: 585px;
    top: 800px;
    font-family: Comic Sans MS;
    // 沒有Noto Sans TC
    font-style: normal;
    font-weight: 500;
    font-size: 27px;
    text-align: center;
    color: #FFFFFF;
  }
  .button_banquet{
    position: absolute;
    width: 250px;
    height: 35px;
    left: 890px;
    top: 800px;
    font-family: Comic Sans MS;
    // 沒有Noto Sans TC
    font-style: normal;
    font-weight: 500;
    font-size: 27px;
    text-align: center;
    color: #FFFFFF;
  }
}

.player_page {
  // feat .page class
  background: $pink;
  .player_icon_png{
    position: relative;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    // transform 是對div做微調。
    width:300px;
  }

}

.timeline_page {
  // feat .page class
  background: $pink;
}

.huge_photo_page {
  // feat .page class
  background: white;
  .huge_photo{
    position: absolute;
    height: 100vh;
    width:100vw;
    // 網頁上看起來有點怪，媽ㄉ
  }
}

.location_page {
  // feat .page class

  .ceremony {
    position: relative;
    width: 100%;
    height: 50%;
    background: $pink;
  }
  .banquet {
    position: relative;
    width: 100%;
    height: 50%;
    background: white;
  }
}

.footer {
  width: 100vw;
  height: 350px;
  background: grey;
}
