/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* pink: FFA0B2 */
@font-face {
  font-family: playball;
  src: local("Playball"), url(Playball-Regular.ttf);
}
/* line 17, ../sass/style.scss */
.page {
  width: 100vw;
  height: 100vh;
  position: relative;
}

/* line 24, ../sass/style.scss */
.welcome_page {
  overflow-x: hidden;
  background: linear-gradient(to top, #FFA0B2, #FFCFD8);
}
/* line 28, ../sass/style.scss */
.welcome_page .jack_png {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  top: -63px;
  width: 600px;
}
/* line 36, ../sass/style.scss */
.welcome_page .hanny_png {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  top: -63px;
  width: 600px;
}
/* line 44, ../sass/style.scss */
.welcome_page .welcome {
  position: absolute;
  width: 100%;
  height: 80px;
  text-align: center;
  top: 480px;
  font-family: playball, Comic Sans MS;
  font-style: normal;
  font-weight: normal;
  font-size: 39px;
  text-align: center;
  color: #FFFFFF;
}
/* line 63, ../sass/style.scss */
.welcome_page .Jack_and_Hanny {
  position: absolute;
  width: 100%;
  height: 170px;
  top: 530px;
  font-family: playball, Comic Sans MS;
  font-style: normal;
  font-weight: normal;
  font-size: 73px;
  text-align: center;
  color: #FFFFFF;
}
/* line 76, ../sass/style.scss */
.welcome_page .Wedding_word {
  position: absolute;
  width: 100%;
  height: 170px;
  top: 608px;
  font-family: playball, Comic Sans MS;
  font-style: normal;
  font-weight: normal;
  font-size: 39px;
  text-align: center;
  color: #FFFFFF;
}
/* line 89, ../sass/style.scss */
.welcome_page .buttonset {
  position: absolute;
  width: 100%;
  top: 705px;
  text-align: center;
}
/* line 96, ../sass/style.scss */
.welcome_page .buttonset .button {
  display: inline-block;
  position: relative;
  height: 22.5px;
  margin: 0 3%;
}
/* line 103, ../sass/style.scss */
.welcome_page .buttonset .button img {
  height: 100%;
}

/* line 143, ../sass/style.scss */
.timeline_page {
  background: #FFA0B2;
  font-family: Noto Sans TC;
}
/* line 148, ../sass/style.scss */
.timeline_page .timeline {
  position: absolute;
  left: 7vw;
  top: 0;
}
/* line 153, ../sass/style.scss */
.timeline_page .timeline .line {
  position: absolute;
  top: 12px;
  width: 2px;
  height: 100vh;
  background: white;
}
/* line 161, ../sass/style.scss */
.timeline_page .timeline .time_section {
  margin-bottom: 8vh;
  margin-left: -4px;
  cursor: pointer;
}
/* line 166, ../sass/style.scss */
.timeline_page .timeline .time_section .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: white;
  margin-right: 20px;
}
/* line 174, ../sass/style.scss */
.timeline_page .timeline .time_section .title {
  display: inline-block;
  color: white;
  font-size: 24px;
  margin-right: 5px;
}
/* line 180, ../sass/style.scss */
.timeline_page .timeline .time_section .title .text {
  display: inline-block;
  font-size: 15px;
}
/* line 188, ../sass/style.scss */
.timeline_page .image_window {
  position: absolute;
  top: 6vh;
  right: 13vw;
}
/* line 193, ../sass/style.scss */
.timeline_page .image_window img {
  position: absolute;
  width: 50vw;
  margin-top: -1.5vw;
  margin-left: -3vw;
}
/* line 200, ../sass/style.scss */
.timeline_page .image_window .white_bg {
  width: 50vw;
  height: 30vw;
  border-radius: 40px;
  background: linear-gradient(302.89deg, #FFFFFF 23%, rgba(255, 255, 255, 0) 62.59%);
}

/* line 210, ../sass/style.scss */
.huge_photo_page {
  background: white;
}
/* line 214, ../sass/style.scss */
.huge_photo_page .huge_photo {
  position: absolute;
  width: 100vw;
}

/* line 225, ../sass/style.scss */
.location_page .ceremony {
  position: relative;
  width: 100%;
  height: 50%;
  background: #FFA0B2;
}
/* line 231, ../sass/style.scss */
.location_page .ceremony .ceremony_title {
  position: relative;
  display: block;
  height: 30px;
  left: 8%;
  top: 25px;
}
/* line 238, ../sass/style.scss */
.location_page .ceremony .ceremony_info {
  position: relative;
  display: inline-block;
  width: 400px;
  left: 8%;
  top: 35px;
}
/* line 245, ../sass/style.scss */
.location_page .ceremony .ceremony_traffic {
  position: relative;
  display: inline-block;
  width: 400px;
  left: 30%;
}
/* line 254, ../sass/style.scss */
.location_page .banquet {
  position: relative;
  width: 100%;
  height: 50%;
  background: white;
}
/* line 260, ../sass/style.scss */
.location_page .banquet .banquet_title {
  position: relative;
  display: block;
  height: 30px;
  left: 8%;
  top: 25px;
}
/* line 267, ../sass/style.scss */
.location_page .banquet .banquet_info {
  position: relative;
  display: inline-block;
  width: 400px;
  left: 8%;
  top: 35px;
}
/* line 274, ../sass/style.scss */
.location_page .banquet .banquet_traffic {
  position: relative;
  display: inline-block;
  width: 400px;
  left: 30%;
}

/* line 285, ../sass/style.scss */
.footer {
  position: relative;
  width: 100vw;
  height: 300px;
  background: #FFA0B2;
}
/* line 291, ../sass/style.scss */
.footer .social_buttonset {
  position: absolute;
  width: 100%;
  top: 210px;
  text-align: center;
}
/* line 298, ../sass/style.scss */
.footer .social_buttonset .button {
  display: inline-block;
  width: 36px;
}
/* line 302, ../sass/style.scss */
.footer .social_buttonset .button .social_button {
  width: 100%;
}
/* line 309, ../sass/style.scss */
.footer .copyright {
  position: relative;
  height: 20px;
  left: 50%;
  transform: translate(-50%, 0);
  top: 240px;
}
